*{
    margin: 0;
    padding: 0;
}
.div-hijo{
    width: 120px;
    height: 120px;
    background-color: peru;
    margin: 10px;
}
.div-nhijo{
    width: 50px;
    height: 50px;
    background-color: peachpuff;
    margin: 10px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    
}