.t0 {
  background-color: #0365ff;
  font-weight: bold;
  font-size: 60px;
}
.t5 {
  background-color: #009aff;
  font-size: 60px;
}
.t10 {
  background-color: #01ccff;
  font-size: 60px;
}
.t15 {
  background-color: #a0e8ff;
  font-size: 60px;
}
.t20 {
  background-color: #d1f7fc;
  font-size: 60px;
}
.t25 {
  background-color: #fdffe7;
  font-size: 60px;
}
.t30 {
  background-color: #ffff68;
  font-size: 60px;
}
.t35 {
  background-color: #ffcb00;
  font-size: 60px;
}
.t40 {
  background-color: #ff9935;
  font-size: 60px;
}
.t45 {
  background-color: #fe3500;
  font-size: 60px;
}
.t50 {
  background-color: #ca2c0083;
  font-size: 60px;
  font-weight: bold
}
