.ban{
    color: #f5dd8f;
    font-size: 50px;
}
.kiw{
    color: #9fca3b;
    font-size: 50px;
}
.man{
    color: #95030d;
    font-size: 50px;
}
.ana{
    color: #f6d95a;
    font-size: 50px;

}
.mel{
    color: #e7daab;
    font-size: 50px;
}
.san{
    color: #d32638;
    font-size: 50px;
}
.nar{
    font-size: 50px;
    color: rgb(236, 156, 6)
    
}
.gra{
    color: #961e21;
    font-size: 50px;
}
.per{
    color: #d6dc7b;
    font-size: 50px;
}
.lim{
    font-size: 50px;
    color:yellow
}