h1 {
  font-family: "Oswald", sans-serif;
  font-size: 120px;
  
}

.p1 {
  font-size: 60px;
  color: gray;
  font-family: "Oswald", sans-serif;
}

.ada {
  text-decoration: none;
  color: skyblue;
  font-family: "Oswald", sans-serif;
}
.fra{
    font-style: italic
}
.fra2{
    font-weight: bold;
}
.p4{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pa1{
    font-weight: bold;
}
.pa2{
    font-style: italic;
}