*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vh;
    background-color: rgb(50 50 70)

}
.contenedor-principal{
    display: flex;
    height: 30%;
    width: 50%;
    background-color: azure;
    
}