body{
    background-color: #f9f9fb;
}

.boxb{
    background-color: #f9f9fb;
}
img{
    width: 120px;
    height: 100px;
    padding: 0 0;
    margin: 0 0;
}
.box1{
    background-color: rgb(255, 255, 255);
    margin: 250px 680px;
    padding: 40px;
    box-shadow: 0px 0px 33px -19px rgba(117,117,117,1);
    border-radius: 10px;

}
.notif{
    padding: 0 0;
    margin: 0 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.box2{
    background-color: #588BDA;
    margin: 38px 260px 23px 0px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 33px -10px rgba(117,117,117,1);

}.sig{
    padding: 14px 20px 0 50px;
    color: #FBFBFB;

}
a{
    text-decoration: none;
    color: #588BDA;
}
