.e1{
    font-size: 50px;
}
.e2{
    font-size: 55px;
}
.e3{
    font-size: 25px;
}
.e4{
    font-size: 34px;
}
.e5{
    font-size: 81px;
}
.e6{
    font-size: 20px;
}
.e7{
    font-size: 38px;
}
.e8{
    font-size: 28px;
}
.e9{
    font-size: 43px;
}
.e10{
    font-size: 48px;
}