.c1{
    font-family: 'Fredoka', sans-serif;
    background-color: #caf0f8;
}
.c2{
    font-family: 'Fredoka', sans-serif;
    background-color: #ade8f4;
}
.c3{
    font-family: 'Fredoka', sans-serif;
    background-color: #90e0ef;
}
.c4{
    font-family: 'Fredoka', sans-serif;
    background-color: #48cae4;
}
.c5{
    font-family: 'Fredoka', sans-serif;
    background-color: #00b4d8;
}
.a1{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(188,108,37);
}
.a2{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(221,161,94);
}
.a3{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(254,250,224);
}
.a4{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(40,54,24);
}
.a5{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(96,108,56);
}
.b1{
    font-family: 'Fredoka', sans-serif;
    background-color: hsl(215, 50%, 23%);
}
.b2{
    font-family: 'Fredoka', sans-serif;
    background-color: hsl(203, 39%, 44%);
}
.b3{
    font-family: 'Fredoka', sans-serif;
    background-color: hsl(182, 43%, 76%);
}
.b4{
    font-family: 'Fredoka', sans-serif;
    background-color: hsl(105, 55%, 96%);
}
.b5{
    font-family: 'Fredoka', sans-serif;
    background-color: hsl(355, 78%, 56%);
}
h1{
    font-family: 'Fredoka', sans-serif;
    font-size: 100px;
}
h2{
    font-family: 'Fredoka', sans-serif;
}